.App{
  font-family: 'Playfair Display', serif;
  background: radial-gradient(70.66% 33.2% at 85.52% 7.67%, rgba(32, 108, 255, 0.2) 17.19%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(0deg, rgba(224, 233, 255, 0.2), rgba(224, 233, 255, 0.2)), linear-gradient(180deg, rgba(72, 164, 108, 0) -48.14%, rgba(11, 134, 60, 0.4) 100%);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
